@model VoucherVM
@{
    ViewData["Title"] = "create";
}
<style>
    .select2-container {
        height: calc(1.5em + .75rem + 2px) !important;
    }
</style>
<div id="countofdetails" class="d-none">@Model.VoucherMaster.VoucherDetail.Count()</div>

<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Cash Payment</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item">
                        <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Payment using Cash</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <a asp-action="Index" class="btn btn-outline-primary px-5">Cash Paid Details</a>
        </div>
    </div>
    <!--end breadcrumb-->
    <hr />
    <div class="card">
        <div class="card-body">
            <form class="row g-3" action="Javascript:Save()" method="post">
                <div class="col-md-4">
                    <label class="form-label">Inv Date</label> <span class="text-danger"><i class="fadeIn animated bx bx-star"></i></span>
                    <input type="date" asp-for="VoucherMaster.VoucherDate" class="form-control">
                    <span asp-validation-for="VoucherMaster.VoucherDate" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Remakrs</label>
                    <input asp-for="VoucherMaster.Remarks" class="form-control">
                    <span asp-validation-for="VoucherMaster.Remarks" class="text-danger"></span>
                </div>
                <h6> Details</h6>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Select Account</label>
                        <span class="text-danger"><i class="fadeIn animated bx bx-star"></i></span>&nbsp;
                        <div class="input-group mb-3">
                            <select id="Account" asp-items="Model.AccountList" class="form-control" style="width: 100%">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Amount</label> <span class="text-danger"><i class="fadeIn animated bx bx-star"></i></span>
                        <input type="text" id="Amount" value="0" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Narration</label>
                        <div class="input-group mb-3">
                            <input id="Narration" class="form-control" />
                            <a class="btn btn-primary" id="Adding"> Add</a>
                        </div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm mb-0" id="Items" style="height:250px;overflow-y:auto">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Account Holder Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Narration</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lst in Model.VoucherMaster.VoucherDetail)
                                {
                                    <tr>
                                        <td><a class="badge bg-danger" onclick="return deleteRow(this)"><i class="bx bx-trash"></i></a></td>
                                        <td class="d-none">@lst.ThirdLevelId</td>
                                        <td>@lst.ThirdLevel.AccountTitle</td>
                                        <td class="totalamount">@lst.Amount</td>
                                        <td>@lst.Narration</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row justify-content-center">
                    <div class="col-md-4 ">
                        <label class="form-label">Total Amount</label>
                        <input readonly class="form-control" asp-for="VoucherMaster.TAmount" />
                        <span class="text-danger" asp-validation-for="VoucherMaster.TAmount"></span>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary px-5">Submit/Update</button>
                </div>
                <input type="hidden" asp-for="VoucherMaster.Id" />
                <input type="hidden" asp-for="VoucherMaster.GeneralId" />
            </form>
        </div>
    </div>
</div>
<script src="/js/AddEditCPaymentVoucher.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />